
*{
    box-sizing: border-box;
    /* margin: 0;
    margin: 0; */
    /* overflow-x: hidden; */
}
body{
    width: 100vw;
    height: 100vh;
}

.header{
    display: flex;
    justify-content: space-around;
    background-color: rgb(243, 247, 254);
    align-items: center;
    position: fixed;
    width: 100%;
}
.headerleft{
    display: flex;
    align-items: center;
    gap: 12px;
}
a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    display: inline;
    padding: 15px;
}
a:hover{
    color: orange;
    text-decoration: underline;
}
.headerright > img{
    display: inline;
    gap: 10px;
    width: 40px;
    height: 50px;
    align-items: center;
}
.banner{
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 100vw;
}
.food-1 > img,.food-2 > img,.food-3 > img{
     width: 450px;
     height: 450px;
     display: flex;
     margin-top: 70px;
}
#fish,#biryani{
    width: 490px;
    height: 450px;
}
.food-1>p,.food-2>p,.food-3>p{
   font-size: 18px;
}
/* .food-1>.food-2>.food-3{
    width: 30%;
    display: flex;
    justify-content: center;
    gap: 1rem;
} */
.category > h1{
    background-color: bisque;
    color: solid black;
    width: 100%;
    padding: 5px;
    text-align: center;
}
.category{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cat-1 > img, .cat-2> img,.cat-3>img, .cat-4>img, .cat-5> img, .cat-6>img{
    width: 450px;
    height: 400px;
}
.cat-1 > p, .cat-2 > p, .cat-3 > p, .cat-4 > p,.cat-5 > p,.cat-6 > p{
    position: relative;
    bottom: 80%;
    left: 50px;
    transform: translate(150px,150px);
    background-color: lightseagreen;
    padding: 10px;
    color: black;
    width: 82px;
    text-align: center;
    font-size: 1.3rem;
}
.women{
    width: 100%;
    height: 80vh;
    display: flex;
}
.women>h1{
    display: flex;
    font-style: italic;
    color: black;
    text-align: center;
    text-indent: 100px;
}
.header-1{
    position: fixed;
    text-align: center;
    background-color: green;
    color: red;
    padding: 10px;
    width: 100%;
}
.traditional{
    display: flex;
    gap: 10px;
}
.traditional>div>img{
    width: 200px;
    height: 250px;
    margin-top: 120px;
    border-radius: 20px;
}
div>p{
    display: flex;
    text-align: center;
    font-size: 30px;
    color: black;
}
.traditional-1{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    position: static;
}
.traditional-1>div>img{
    width: 400px;
    height: 350px;
    margin-top: 120px;
    border-radius: 20px;
}
.main-part{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-part,.right-part{
    width: 45%;
}
.right-part>h1{
    background-color: burlywood;
    padding: 20px;
    width: 100%;
    text-align: center;
} .right-part>p{
    text-align: center;
    font-size: 1.3rem;
}
.right-part{
    padding: 3rem;
    justify-items: center;
}
.left-part{
    padding: 3rem;
}
.right-part>button{
    background-color: rgb(85, 83, 83);
    color: white;
    padding: .8rem;
    font-size: 1.4rem;
    padding-left: 4rem;
    padding-right: 4rem;
    align-content: center;
    border-radius: 5px;
}
.pop-1>img{
    width: 350px;
    height: 350px;
    border-radius: 6px;
}

.pop-cardss{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
  

}
.pop-1{
    width: 25%;
}
.pop-1>p{
    font-size: 1rem;
    text-align: start;
}
.pop-1>a:hover{
    text-decoration: underline;
}
.pop-1>a{
    color: rgb(109, 81, 10);
    font-weight: bold;
}
.contact{
    display: flex;
    justify-content: center;
    margin: 30px;
    padding: 20px;
    background-color: rgb(226, 209, 188);
}
.left-contact{
    width: 25%;
}
.right-contact{
    width: 40%;
    justify-items: center;
}
.right-contact>h1{
    background-color: burlywood;
    color: rgb(134, 100, 13);
    text-align: center;
    font-size: 2.4rem;
    width: 100%;
}
.right-contact>p{
    font-size: 1.3rem;
}
.right-contact>button{
    background-color: rgb(85, 83, 83);
    color: white;
    padding: .8rem;
    font-size: 1.4rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    align-content: center;
    border-radius: 5px;
}
.tabs{
    display: flex;
    gap: 2.5rem;
    justify-content: center;
}
.navv{
    background-color:rgb(241, 236, 223);
    padding: 35px;
}
.newsletter{
    background-color: white;
    display: block;
    justify-items: center;
    /* width: 25%; */
}
.newsletter>div>p{
    font-size: 13px;
}
.newsletter>div>form>p>a{
    font-size: 13px;
    text-decoration: underline;
}
.final-page{
    justify-items: center;
    width: 25%;
    padding: 20px;
}
.newsletter>div>h1{
    text-decoration: underline;
}
input{
    padding: 15px;
    align-items: center;
    background-color: orange;
    color: black;
    outline-color: orange;
    margin-left: 25px;
    border-radius: 8px;
    margin-right: 0px;
   
    
}
.newsletter>div>form>button{
    padding: 8px;
    border-radius: 8px;
    padding-left: 8rem;
    text-align: left;
}
.footer-page>p{
    font-size: 12px;
    padding: 5rem;
   display: flex;
   justify-content: center;
}

